* {
    padding: 0;
    Margin: 0;

}

div {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

h1 {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;

}